manifest {
  name = 'FloWuenne/nf_spatialMI'
  author = 'Florian Wuennemann'
  homePage = 'https://github.com/FloWuenne/nf_spatialMI'
  description = 'A nextflow pipeline to process Molecular Cartography images.'
}

docker.enabled = true

profiles {

  standard {
      process.executor = 'local'
  }

  cluster_slurm {
      process.executor = 'slurm'

  }

}

params {
    sample_sheet = "/Users/florian_wuennemann/1_Projects/MI_project/data/nextflow_test_data/test.sample_sheet.nf_spatialMI.csv"
    imgs_path = "/Users/florian_wuennemann/1_Projects/MI_project/data/nextflow_test_data/"
    spots_path = "/Users/florian_wuennemann/1_Projects/MI_project/data/nextflow_test_data/"
}

