manifest {
  name = 'FloWuenne/nf_molcart'
  author = 'Florian Wuennemann'
  homePage = 'https://github.com/FloWuenne/nf_molcart'
  description = 'A nextflow pipeline to process Molecular Cartography data.'
}

dag {
  overwrite = true
}

profiles {

  local {
    process.executor = 'local'
    docker.enabled = true
  }

  slurm {
    process.exectur = 'slurm'
  }
}

params {
    create_ilastik_training = false

    sample_sheet = "/Users/florian_wuennemann/1_Projects/MI_project/data/nextflow_test_data/small_test_data/single_sample.crop.sample_sheet.nf_molcart.csv"
    imgs_path = "/Users/florian_wuennemann/1_Projects/MI_project/data/nextflow_test_data/small_test_data/"
    spots_path = "/Users/florian_wuennemann/1_Projects/MI_project/data/nextflow_test_data/small_test_data/"

    ilastik_training_dir = "/Users/florian_wuennemann/1_Projects/MI_project/data/nextflow_test_data/small_test_data/ilastik_training_set"

    // Parameters for MK_ILASTIK_TRAINING_STACKS
    crop_size_x = 1000
    crop_size_y = 1000
    nonzero_fraction = 0.1
    crop_amount = 4
    channel_ids = "1 2"

    // Ilastik models
    ilastik_pixelprob_model = "/Users/florian_wuennemann/1_Projects/MI_project/data/nextflow_test_data/small_test_data/ilastik_pixelprob.ilp"
    ilastik_multicut_model = "/Users/florian_wuennemann/1_Projects/MI_project/data/nextflow_test_data/small_test_data/ilastik_multicut.ilp"

    output_dir = "/Users/florian_wuennemann/1_Projects/MI_project/data/nextflow_test_data/nf_molcat/ilastik_substacks"
}

process {
    withName: "MINDAGAP_MINDAGAP" {
      ext.args= ""
      ext.args2= "7 100"
    }
    withName: "ILASTIK_PIXELCLASSIFICATION" {
      ext.args = '--output_format=hdf5 --export_source="Probabilities"'
    }
}